# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
      # jdk 设置
    - name: Set up JDK 16
      uses: actions/setup-java@v1
      with:
        java-version: 16
      # 1.8 = Java8 可以直接写8
      # 一些拓展的版本可能是11 或16
    - name: submodules-init
      uses: snickerbockers/submodules-init@v4
    - name: Build with Maven
      run: mvn -B package -T 2C
    - name: Archive artifacts (artifacts)
      uses: actions/upload-artifact@v2
      if: success()
      with:
        name: GeneticChickengineering
        path: target/GeneticChickengineering v1.2.1.jar
